.wrapper {
  font-family: 'Raleway', sans-serif;
}
.wrapper .menu {
  max-width: 100%;
  height: 45px;
  background-color: #473a88;
  z-index: 999;
  font-weight: 600;
  font-size: 15px;
}
.wrapper .menu .menu_items {
  margin-left: 390px;
  padding-top: 12px;
}
.wrapper .menu .menu_items span {
  color: white;
  margin-top: 10px;
  padding-right: 30px;
}
.wrapper .menu .menu_items span a {
  color: white;
}
.wrapper .menu .menu_items span a:hover {
  text-decoration: none;
}
.wrapper .menu .menu_items span a:active {
  text-decoration: none;
}
.wrapper .menu .menu_items span a:visited {
  text-decoration: none;
}
.wrapper .menu .menu_items span a:link {
  text-decoration: none;
}
.wrapper .logo {
  margin-top: 50px;
}
.wrapper .slider {
  margin-top: 30px;
}
.wrapper .first {
  margin-top: 65px;
  min-height: 370px;
}
.wrapper .first .top-line {
  width: 195px;
  height: 3px;
  color: #c89c2d;
  background-color: #c89c2d;
  margin-bottom: 30px;
}
.wrapper .first .left_head {
  color: #57565b;
  font-size: 29px;
  font-weight: 700;
}
.wrapper .first .right_txt {
  font-size: 15px;
  font-weight: 500;
  color: #57565b;
}
.wrapper .second {
  margin-top: -50px;
  background-color: #f7f7f7;
  max-width: 100%;
  height: 1500px;
  min-height: 1250px;
  background-image: url("../img/second_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper .second .part_one img {
  width: 40%;
  position: relative;
  margin-top: -5%;
  display: inline-block;
}
.wrapper .second .part_one p {
  display: inline-block;
  position: relative;
  padding: 60px 70px;
  border: 6px solid #c89c2d;
  width: 32%;
  margin-left: -2%;
}
.wrapper .second .part_two img {
  display: inline-block;
  position: relative;
  float: right;
  width: 40%;
  margin-top: 10%;
}
.wrapper .second .part_two p {
  display: inline-block;
  margin-top: 20%;
  margin-left: 20%;
  font-size: 15px;
  color: #57565b;
  font-weight: 500;
}
