.wrapper {
  font-family: 'Raleway', sans-serif;
}
.wrapper .menu {
  max-width: 100%;
  height: 45px;
  background-color: #473a88;
  z-index: 999;
  font-weight: 600;
  font-size: 15px;
}
@media only screen and (max-width: 320px) {
  .wrapper .menu {
    height: 70px;
    margin-top: -10px;
  }
}
.wrapper .menu .menu_items {
  margin-left: 390px;
  padding-top: 12px;
}
@media only screen and (max-width: 480px) {
  .wrapper .menu .menu_items {
    margin-left: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .menu .menu_items {
    margin-left: 0;
    padding: 0;
  }
}
.wrapper .menu .menu_items ul {
  margin-left: 170px;
}
@media only screen and (max-width: 480px) {
  .wrapper .menu .menu_items ul {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .menu .menu_items ul {
    margin-left: 25px;
  }
}
.wrapper .menu .menu_items li {
  color: white;
  padding-right: 30px;
  float: left;
  list-style: none;
}
.wrapper .menu .menu_items li a {
  color: white;
}
.wrapper .menu .menu_items li a:hover {
  text-decoration: none;
}
.wrapper .menu .menu_items li a:active {
  text-decoration: none;
}
.wrapper .menu .menu_items li a:visited {
  text-decoration: none;
}
.wrapper .menu .menu_items li a:link {
  text-decoration: none;
}
.wrapper .logo {
  margin-top: 50px;
}
.wrapper .slider {
  margin-top: 30px;
}
.wrapper .first {
  margin-top: 65px;
  min-height: 370px;
}
.wrapper .first .top-line {
  width: 195px;
  height: 3px;
  color: #c89c2d;
  background-color: #c89c2d;
  margin-bottom: 30px;
}
.wrapper .first .left_head {
  color: #57565b;
  font-size: 29px;
  font-weight: 700;
  line-height: 36px;
}
.wrapper .first .right_txt {
  font-size: 15px;
  font-weight: 500;
  color: #57565b;
  line-height: 26px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .first .right_txt {
    margin-top: 30px;
  }
}
.wrapper .second_section {
  margin-top: -100px;
  background-color: #f7f7f7;
  padding-top: 10px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .second_section {
    margin-top: -400px;
  }
}
.wrapper .second_section .second {
  margin-top: 50px;
  background-color: #f7f7f7;
  max-width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-image: url("../img/second_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper .second_section .second .first_part {
  padding: 0;
}
.wrapper .second_section .second .first_part img {
  width: 100%;
  height: auto;
  min-height: 390px;
  margin-top: -100px;
}
@media only screen and (max-width: 480px) {
  .wrapper .second_section .second .first_part img {
    min-height: 250px;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .first_part img {
    min-height: 250px;
    margin-top: -30px;
  }
}
.wrapper .second_section .second .first_part p {
  width: 77%;
  color: #57565b;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0px;
  border: 6px solid #c89c2d;
  padding: 70px 90px;
  margin-left: -50px;
  line-height: 26px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .second_section .second .first_part p {
    width: 100%;
    padding: 50px 70px;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .first_part p {
    width: 100%;
    padding: 30px;
    margin: 0;
    margin-top: -20px;
  }
}
.wrapper .second_section .second .second_part {
  margin-top: 100px;
}
.wrapper .second_section .second .second_part p {
  font-family: 'Raleway', sans-serif;
  color: #57565b;
  font-size: 15px;
  font-weight: 500;
  margin-top: 160px;
  margin-left: 300px;
  width: 80%;
  line-height: 26px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .second_section .second .second_part p {
    margin-left: 150px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper .second_section .second .second_part p {
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .second_part p {
    margin-left: 0;
    width: 100%;
    margin-top: -50px;
  }
}
.wrapper .second_section .second .second_part img {
  width: 80%;
  min-height: 241px;
  position: relative;
  z-index: 999;
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .second_part img {
    width: 100%;
    min-height: 300px;
    margin-left: 0;
    position: absolute;
  }
}
.wrapper .second_section .second .third_part {
  margin-top: 80px;
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .third_part {
    margin-top: 450px;
  }
}
.wrapper .second_section .second .third_part img {
  width: 47%;
  height: auto;
  min-height: 100px;
  margin-left: 310px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .second_section .second .third_part img {
    margin-left: 150px;
    min-height: 300px;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .third_part img {
    margin-left: 0;
    min-height: 200px;
    width: 100%;
    margin-top: 110px;
  }
}
.wrapper .second_section .second .third_part p {
  color: #57565b;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 150px;
  border: 6px solid #c89c2d;
  padding: 220px 220px;
  margin-top: -130px;
  margin-left: -270px;
  z-index: 998;
  width: 100%;
  line-height: 26px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .second_section .second .third_part p {
    padding: 140px 140px;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .third_part p {
    padding: 15px;
    margin-left: 0;
    margin-top: -450px;
  }
}
.wrapper .third_section {
  margin-top: 200px;
  margin-left: -60px;
}
@media only screen and (max-width: 320px) {
  .wrapper .third_section {
    margin-top: 0;
    margin-left: 0;
  }
}
.wrapper .third_section .border {
  width: 730px;
  height: 585px;
  border: 6px solid #c89c2d;
  position: relative;
  z-index: 500;
  margin-top: -500px;
  margin-left: -100px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .third_section .border {
    width: 500px;
    height: 400px;
    margin-top: -300px;
    margin-left: -10px;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .third_section .border {
    width: 150px;
    height: 150px;
    margin-top: -100px;
    margin-left: 50px;
  }
}
.wrapper .third_section .plane {
  position: relative;
  margin-left: 40px;
  z-index: 501;
}
@media only screen and (max-width: 1200px) {
  .wrapper .third_section .plane {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .third_section .plane {
    width: 80%;
    margin-left: 80px;
  }
}
.wrapper .third_section .bagage {
  position: relative;
  margin-top: -360px;
  z-index: 502;
  margin-left: -200px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .third_section .bagage {
    width: 60%;
    margin-top: -200px;
    margin-left: -100px;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .third_section .bagage {
    margin-left: 0;
    margin-top: -130px;
  }
}
.wrapper .third_section .pre-last {
  margin-top: 190px;
  margin-left: 50px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .third_section .pre-last {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .third_section .pre-last {
    margin-top: 170px;
    margin-left: 0;
  }
}
.wrapper .third_section .pre-last p {
  color: #57565b;
  font-size: 15px;
  font-weight: 500;
  margin-left: -200px;
  line-height: 26px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .third_section .pre-last p {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .third_section .pre-last p {
    margin-left: 0px;
    width: 100%;
  }
}
.wrapper .form_section {
  margin-top: 80px;
}
@media only screen and (max-width: 320px) {
  .wrapper .form_section {
    margin-top: 50px;
  }
}
.wrapper .form_section .top_line {
  height: 3px;
  width: 200px;
  background-color: #c89c2d;
  margin-left: -120px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .form_section .top_line {
    margin-left: 0;
  }
}
.wrapper .form_section h1 {
  font-size: 29px;
  color: #57565b;
  font-weight: 700;
  margin-left: -120px;
  padding-bottom: 60px;
}
@media only screen and (max-width: 1200px) {
  .wrapper .form_section h1 {
    margin-left: 0;
  }
}
.wrapper .form_section input[type="text"] {
  border: 1px solid transparent;
  color: #828185;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  margin-left: -140px;
  padding: 8px;
}
.wrapper .form_section input[type="text"]:focus {
  border: none;
}
.wrapper .form_section input[type="text"]:active {
  border: none;
}
@media only screen and (max-width: 1200px) {
  .wrapper .form_section input[type="text"] {
    margin-left: -20px;
  }
}
.wrapper .form_section textarea {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}
.wrapper .form_section textarea::-webkit-input-placeholder {
  color: #828185;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 1200px) {
  .wrapper .form_section textarea {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 320px) {
  .wrapper .form_section textarea {
    margin-left: -10px;
  }
}
.wrapper .form_section input[type="submit"] {
  border: none;
  background-color: #c89c2d;
  color: #fff;
  padding: 15px 45px;
  margin-left: 450px;
}
@media only screen and (max-width: 320px) {
  .wrapper .form_section input[type="submit"] {
    margin-left: 50px;
  }
}
.wrapper .footer {
  margin-top: 100px;
  margin-bottom: 45px;
}
.wrapper .footer ul {
  margin-left: 350px;
}
@media only screen and (max-width: 320px) {
  .wrapper .footer ul {
    margin-left: -20px;
  }
}
.wrapper .footer ul li {
  list-style: none;
  float: left;
  padding: 0 10px;
}
.wrapper .footer span {
  margin-top: 35px;
  display: block;
  color: #c3c2c2;
  margin-left: -110px;
}
@media only screen and (max-width: 320px) {
  .wrapper .footer span {
    margin-left: 0;
  }
}
