.wrapper {
  font-family: 'Raleway', sans-serif;
}
.wrapper .menu {
  max-width: 100%;
  height: 45px;
  background-color: #473a88;
  z-index: 999;
  font-weight: 600;
  font-size: 15px;
}
@media only screen and (max-width: 320px) {
  .wrapper .menu {
    height: 70px;
    margin-top: -10px;
  }
}
.wrapper .menu .menu_items {
  margin-left: 390px;
  padding-top: 12px;
}
@media only screen and (max-width: 320px) {
  .wrapper .menu .menu_items {
    margin-left: 0;
    padding: 0;
  }
}
.wrapper .menu .menu_items li {
  color: white;
  padding-right: 30px;
  float: left;
  list-style: none;
}
.wrapper .menu .menu_items li a {
  color: white;
}
.wrapper .menu .menu_items li a:hover {
  text-decoration: none;
}
.wrapper .menu .menu_items li a:active {
  text-decoration: none;
}
.wrapper .menu .menu_items li a:visited {
  text-decoration: none;
}
.wrapper .menu .menu_items li a:link {
  text-decoration: none;
}
.wrapper .logo {
  margin-top: 50px;
}
.wrapper .slider {
  margin-top: 30px;
}
.wrapper .first {
  margin-top: 65px;
  min-height: 370px;
}
.wrapper .first .top-line {
  width: 195px;
  height: 3px;
  color: #c89c2d;
  background-color: #c89c2d;
  margin-bottom: 30px;
}
.wrapper .first .left_head {
  color: #57565b;
  font-size: 29px;
  font-weight: 700;
}
.wrapper .first .right_txt {
  font-size: 15px;
  font-weight: 500;
  color: #57565b;
}
.wrapper .second_section {
  margin-top: -100px;
  background-color: #f7f7f7;
  padding-top: 10px;
}
.wrapper .second_section .second {
  margin-top: 50px;
  background-color: #f7f7f7;
  max-width: 100%;
  height: 1500px;
  min-height: 1250px;
  background-image: url("../img/second_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper .second_section .second .first_part {
  padding: 0;
}
.wrapper .second_section .second .first_part img {
  width: 100%;
  height: auto;
  min-height: 390px;
  margin-top: -100px;
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .first_part img {
    min-height: 250px;
  }
}
.wrapper .second_section .second .first_part p {
  width: 77%;
  color: #57565b;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0px;
  border: 6px solid #c89c2d;
  padding: 70px 90px;
  margin-left: -50px;
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .first_part p {
    width: 100%;
    padding: 30px;
    margin: 0;
    margin-top: -20px;
  }
}
.wrapper .second_section .second .second_part {
  margin-top: 100px;
}
.wrapper .second_section .second .second_part p {
  font-family: 'Raleway', sans-serif;
  color: #57565b;
  font-size: 15px;
  font-weight: 500;
  margin-top: 160px;
  margin-left: 300px;
  width: 80%;
}
@media only screen and (max-width: 320px) {
  .wrapper .second_section .second .second_part p {
    margin-left: 0;
    width: 100%;
    margin-top: -50px;
  }
}
.wrapper .second_section .second .second_part img {
  width: 80%;
  min-height: 241px;
}
.wrapper .second_section .second .third_part {
  margin-top: 80px;
}
.wrapper .second_section .second .third_part img {
  width: 50%;
  height: auto;
  min-height: 400px;
  margin-left: 310px;
}
.wrapper .second_section .second .third_part p {
  color: #57565b;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 150px;
  border: 6px solid #c89c2d;
  padding: 300px 250px;
  margin-top: -150px;
  margin-left: -270px;
  width: 99%;
}
