@menu-color:#473a88;
@lines: #c89c2d;
@txt: #57565b;
@small_text:626166;
@font: 'Raleway', sans-serif;
@second: #f7f7f7;

@normal: 400;
@medium:500;
@semi:600;
@bold:700;

.wrapper{
    font-family: @font;
    .menu{
        max-width: 100%;
        height: 45px;;
        background-color: @menu-color;
        z-index: 999;
        font-weight: @semi;
        font-size: 15px;

        .menu_items{
            margin-left: 390px;
            padding-top:12px;
            span{
                color:white;
                margin-top: 10px;
                padding-right: 30px;

                a{
                    color:white;
                    &:hover{
                        text-decoration: none;
                    }

                    &:active{
                        text-decoration: none;
                    }

                    &:visited{
                        text-decoration: none;
                    }

                    &:link{
                        text-decoration: none;
                    }
                }
            }

        }


    }

    .logo{
        margin-top: 50px;
    }

    .slider{
        margin-top: 30px;
    }

    .first{
        margin-top: 65px;
        min-height: 370px;

        .top-line{
            width: 195px;
            height: 3px;
            color: @lines;
            background-color: @lines;
            margin-bottom: 30px;
        }

        .left_head{
            color:@txt;
            font-size: 29px;
            font-weight: @bold;
        }

        .right_txt{
            font-size: 15px;
            font-weight: @medium;
            color: @txt;
        }
    }

    .second{
        margin-top: 0px;
        background-color: @second;
        max-width: 100%;
        height: 2000px;
        min-height: 1250px;
        background-image: url("../img/second_bg.png");
        background-repeat: no-repeat;
        background-size: contain;

        
            .f_image{
                position: absolute;
                top: -20%;
                width: 65%;
                z-index: 1;
            }

            .f_par{
                font-size: 15px;
                color:@txt;
                font-weight: @medium;
                padding: 50px 50px;
                border: 6px solid @lines;
                float: right;
                z-index:2;
                width: 57%;
                position: relative;
                left: 20%;
                margin-top: 3%;
            }
        

            .second{
                
                margin-top: 5%;
                background-color: transparent;
                background-image: none;

                .s_part{
                    width: 45%;
                    margin-top: 250px;
                    padding-right: 120px;
                    font-size: 15px;
                    font-weight: @medium;
                    color:@txt;
                    font-family: @font;
                }
    
                .s_image{
                    position: absolute;
                    float:right;
                    width: 50%;
                    right:0;
                    top: 5%;
    
                }

                .third{
                    .t_img{
                        width: 35%;
                        position: absolute;
                        top: 30%;
                        left: 0;
                    }
    
                    .t_par{
                        font-size: 15px;
                        font-weight: @medium;
                        font-family: @font;
                        color: @txt;
                        border:1px solid red;
                        width: 40%;
                        position: relative;
                        right: 0;
                        top: 10%;
                    }
                }
            }      
        
    }
    
}