@menu-color:#473a88;
@lines: #c89c2d;
@txt: #57565b;
@small_text:626166;
@font: 'Raleway', sans-serif;

@normal: 400;
@medium:500;
@semi:600;
@bold:700;

.wrapper{
    font-family: @font;
    .menu{
        max-width: 100%;
        height: 45px;;
        background-color: @menu-color;
        z-index: 999;
        font-weight: @semi;
        font-size: 15px;

        p{
            color:white;
            margin-top: 10px;
        }
    }

    .logo{
        margin-top: 50px;
    }

    .slider{
        margin-top: 30px;
    }


    .first_section{
        margin-top: 90px;

        h2{
            color:@txt;
            font-size: 29px;
        }
    }
}