@menu-color:#473a88;
@lines: #c89c2d;
@txt: #57565b;
@small_text:626166;
@font: 'Raleway', sans-serif;
@second: #f7f7f7;

@normal: 400;
@medium:500;
@semi:600;
@bold:700;

.wrapper{
    font-family: @font;
    .menu{
        max-width: 100%;
        height: 45px;;
        background-color: @menu-color;
        z-index: 999;
        font-weight: @semi;
        font-size: 15px;

        .menu_items{
            margin-left: 390px;
            padding-top:12px;
            span{
                color:white;
                margin-top: 10px;
                padding-right: 30px;

                a{
                    color:white;
                    &:hover{
                        text-decoration: none;
                    }

                    &:active{
                        text-decoration: none;
                    }

                    &:visited{
                        text-decoration: none;
                    }

                    &:link{
                        text-decoration: none;
                    }
                }
            }

        }


    }

    .logo{
        margin-top: 50px;
    }

    .slider{
        margin-top: 30px;
    }

    .first{
        margin-top: 65px;
        min-height: 370px;

        .top-line{
            width: 195px;
            height: 3px;
            color: @lines;
            background-color: @lines;
            margin-bottom: 30px;
        }

        .left_head{
            color:@txt;
            font-size: 29px;
            font-weight: @bold;
        }

        .right_txt{
            font-size: 15px;
            font-weight: @medium;
            color: @txt;
        }
    }

    .second{
         margin-top: -50px;
         background-color: @second;
         max-width: 100%;
         height: 1500px;
         min-height: 1250px;
         background-image: url("../img/second_bg.png");
         background-repeat: no-repeat;
         background-size: contain;

        .part_one img {
            width:40%;
            position: relative;
            margin-top: -5%;
            display: inline-block;
        }

        .part_one p{
           display: inline-block;
           position: relative;
           padding: 60px 70px;
           border:6px solid @lines;
           width: 32%;
           margin-left: -2%;
        }

        .part_two{

            img{
                display:inline-block;
                position: relative;
                float:right;
                width:40%;
                margin-top: 10%;
            }

            p{
                display:inline-block;
                margin-top: 20%;
                margin-left: 20%;
                font-size: 15px;
                color:@txt;
                font-weight: @medium;
            }
        }
    }   



}